@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');

body {
  font-family: 'Sunflower', sans-serif;
}
.text-white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(255, 255, 255, 0.31) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.31) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(255, 255, 255, 0.31);
  background-size: 100%;
  transition: background 0s;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  transition: 0.3s ease-in;
}


.App .shadow-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.App .on-top {
  position: relative;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.App .login-link {
  text-decoration: none;
  color: white;

}

.App .navbar {
  position: absolute;
  top: 10px;
}

.App .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App .show-demo {
  display:flex !important;
}

.App .hide-demo {
  display:none !important;
}

.App .flex-container .flex-item {
  flex-direction: row;
  flex: 1;
  align-items: center;
  /*justify-content: space-between;*/
}

.App .flex-container .tutorial-btn {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.17);
  border: none;
  cursor: pointer;
}

.App .flex-container .tutorial-btn[disabled] {
  cursor: not-allowed;
}


.App .playlist-background {
  position: relative;
  height: 300px;
  width: 80%;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 5px 5px 33px black;
  transition: 0.3s ease-in;
  border: solid 2px #ffbc6d;
}

.App  .playlist-background .track-artist-container {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
}

.App .playlist-background .rating {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.App .playlist-background .rating h3 {
  position: relative;
  left: -20px;
}

 .App .playlist-background .rating .rating-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffbc6d;
  transition: .02s ease-in-out;
  -webkit-animation: rating-circle-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: rating-circle-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: rating-circle-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: rating-circle-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
  margin-top: 17px;
}

.App .playlist-background .check-song-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.22);
  border: solid 2px #ffbc6d;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 3px 20px black;
  color: white;
}

@-webkit-keyframes rating-circle-pulse {to {box-shadow: 0 0 0 8px rgba(255, 188, 109, 0.83);}}
@-moz-keyframes rating-circle-pulse {to {box-shadow: 0 0 0 8px rgba(255, 188, 109, 0.83);}}
@-ms-keyframes rating-circle-pulse {to {box-shadow: 0 0 0 8px rgba(255, 188, 109, 0.83);}}
@keyframes rating-circle-pulse {to {box-shadow: 0 0 0 8px rgba(255, 188, 109, 0.83);}}


/*profile section*/

.App .profile-section .profile-picture {
  background-color: gray;
  border: solid 2px #ffbc6d;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
}

.App .search-section .search-track-input {
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(0, 0, 0, 0.45);
  color: white;
  padding: 10px;
}

.App .search-section .track-card {
  margin: 10px;
}

.App .search-section .track-card .track-card-header {
  height: 100px;
  width: 100%;
  background-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: center;

}

.App .search-section .track-card-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: scroll;

}

.App .search-section .track-card-container .track-card .track-card-content {
  padding: 10px;
  /*border-radius: 10px;*/
  /*margin: 10px;*/
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}